@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdfa;
  --color-brand-100: #ccfbf1;
  --color-brand-500: #14b8a6;
  --color-brand-600: #0d9488;
  --color-brand-900: #134e4a;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Safe area for iPhone X+ */
body {
  /* Eliminamos el padding bottom aquí porque lo manejamos en el contenedor principal de la App */
  background-color: #f0f9ff; 
  overflow: hidden; /* IMPORTANTE: Previene doble scrollbar */
}

button, 
[role="button"],
a {
  cursor: pointer;
}
